body * {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
}

.cube {
  border: 1px solid black;
}